<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robotDSLEcoreExtendedLogic -->
      <package
            uri="robotDSLEcoreExtendedLogic"
            class="robotDSLEcoreExtendedLogic.RobotDSLEcoreExtendedLogicPackage"
            genModel="model/robotDSLEcoreExtendedLogic.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robotDSLEcore -->
      <package
            uri="robotDSLEcore"
            class="robotDSLEcore.RobotDSLEcorePackage"
            genModel="model/robotDSLEcore.genmodel"/>
   </extension>

</plugin>
